/* LINESeedSansTH font faces */
@font-face {
    font-family: 'LINESeedSansTH';
    src: url('../assets/fonts/LINESeedSansTH_W_Rg.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'LINESeedSansTH';
    src: url('../assets/fonts/LINESeedSansTH_W_Bd.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'LINESeedSansTH';
    src: url('../assets/fonts/LINESeedSansTH_W_XBd.woff2') format('woff2');
    font-weight: 800;
    font-style: normal;
}
@font-face {
    font-family: 'LINESeedSansTH';
    src: url('../assets/fonts/LINESeedSansTH_W_He.woff2') format('woff2');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'LINESeedSansTH';
    src: url('../assets/fonts/LINESeedSansTH_W_Th.woff2') format('woff2');
    font-weight: 100;
    font-style: normal;
}

body, html, * {
    font-family: 'LINESeedSansTH', Arial, sans-serif !important;
}
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
}

header {
    background-color: #4CAF50;
    color: white;
    padding: 10px 0;
    text-align: center;
}

nav {
    display: flex;
    justify-content: space-around;
    background-color: #333;
}

nav a {
    color: white;
    padding: 14px 20px;
    text-decoration: none;
    text-align: center;
}

nav a:hover {
    background-color: #ddd;
    color: black;
}

.container {
    padding: 20px;
}

h1 {
    font-size: 24px;
    margin-bottom: 20px;
}

p {
    font-size: 16px;
    line-height: 1.5;
}

@media (max-width: 600px) {
    nav {
        flex-direction: column;
    }

    nav a {
        padding: 10px;
        text-align: left;
    }

    h1 {
        font-size: 20px;
    }

    p {
        font-size: 14px;
    }
}